<div class="relative mx-auto w-full aspect-[10/7] bg-emerald-600 @container">
  <% @game.players.each do |player| %>
    <% seat_placement_class = build_seat_placement_class(player, @viewer) %>
    <% hand_offset_class = build_hand_offset_class(player, @viewer) %>

    <div class="absolute <%= seat_placement_class %>">
      <div class="flex <%= hand_offset_class %>">
        <%= render partial: "tiles/tile", collection: player.hands %>
      </div>
    </div>
  <% end %>
</div>
