<div class="absolute <%= build_river_position_class(player) %>">
  <div class="grid grid-cols-6 grid-rows-4 place-items-center">
    <% player.rivers.each do |river| %>
      <div class="w-[3.2cqw]">
        <% if river.riichi? %>
          <%= image_tag("tiles/rotated_#{river.suit}_#{river.number}.gif", class: "block w-full h-auto") %>
        <% else %>
          <%= image_tag("tiles/#{river.suit}_#{river.number}.gif", class: "block w-full h-auto") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
