<div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-[23cqw] aspect-[10/9] bg-white/90 relative">
  <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-xl text-center">
    <%= render partial: "games/info/round_info" %>
    <%= render partial: "games/info/dora_indicator" %>
  </div>

  <%= render partial: "games/info/player_info" %>
</div>
