<div class='container mx-auto px-10 py-10 bg-green-200'>
  <h1 class='text-xl font-bold mb-6'>モード選択</h1>
  <div class='grid grid-cols-1 gap-8'>
    <%= render partial: 'game_mode_card', collection: @game_modes %>
  </div>
</div>
