<% if river.riichi? %>
  <div class="relative">
    <%= image_tag("tiles/rotated_#{river.suit}_#{river.number}.gif", class: "w-[3.8cqw]") %>
  </div>

<% else %>
  <div class="relative">
    <%= image_tag("tiles/#{river.suit}_#{river.number}.gif", class: "w-[3.8cqw]") %>
  </div>
<% end %>
