<% if @game.current_player.user? %>
  <div class="absolute bottom-1/8 right-1/10">
    <div class="flex gap-2">
      <%= button_to "ツモ",
                    game_play_command_path(@game),
                    params: { event: 'tsumo' },
                    class: "rounded border px-2 py-1" %>

      <%= button_to "パス",
                    game_play_command_path(@game),
                    params: { event: 'pass' },
                    class: "rounded border px-2 py-1" %>
    </div>
  </div>

<% else %>
  <%= form_with url: game_play_command_path(@game),
              method: :post,
              data: { controller: "auto-submit" } do |form| %>
    <%= form.hidden_field :event, value: 'tsumo' %>
  <% end %>
<% end %>
