<div class="absolute left-0 top-1/2 -translate-x-1/2 -translate-y-1/2 origin-center rotate-90">
  <div class="flex -translate-y-1/2">
    <%= render partial: "tile", collection: player.hands %>
  </div>
</div>
