<div class="relative mx-auto w-full aspect-[10/7] bg-emerald-600 @container">
  <%= render partial: "games/players/player", collection: @game.players %>
  <%= render partial: "game_info" %>
  <%= render partial: "games/actions/#{@action}" %>
</div>
