<div class="relative mx-auto w-full aspect-[10/7] bg-emerald-600 @container">
  <%= render partial: "user_player", locals: { user: @user_player } %>
  <%= render partial: "opponent", collection: @opponents, as: :player, locals: { user: @user_player } %>
  <%= render partial: "game_info" %>
  <%= render partial: "games/actions/switch" %>
</div>
